menu "DNESP32S3 Learning Demo"

choice DEMO_RESOURCE
    prompt "Select resource demo to run"
    default DEMO_LED

config DEMO_LED
    bool "LED (GPIO output)"

config DEMO_KEY
    bool "KEY (GPIO input, press BOOT to toggle LED)"

config DEMO_EXIT
    bool "EXIT (GPIO external interrupt, press BOOT to toggle LED)"

config DEMO_UART
    bool "UART (serial echo + periodic message)"

config DEMO_ESPTIMER
    bool "ESPTimer (software timer, toggle LED)"

config DEMO_GPTIMER
    bool "GPTimer (hardware timer, toggle LED)"

config DEMO_WDT
    bool "Watchdog (task watchdog, feed then reset)"

config DEMO_SWPWM
    bool "SW PWM (software duty change, LED breathing)"

config DEMO_HWPWM
    bool "HW PWM (hardware fade, LED breathing)"

config DEMO_ADC
    bool "ADC (read voltage on GPIO8)"
endchoice

endmenu
